
@{
    ViewBag.Title = "Person ID";
}

<h1 style="font-weight:bold">Profile</h1>

<div style="background-color: lightblue" >
    <div>
        <h2 style="color: green" >First Name</h2>
        <input type="text" />
    </div>
    <div>
        <h2 style="color: red">Last Name</h2>
        <input type="text" />
    </div>

    <div>
        <h2 style="color: orange">Age</h2>
        <input type="text" />
    </div>

    <div>
        <h2 style="color: violet">Occupation</h2>
        <input type="text" />
    </div>

    <div>
        <input type="button" value="Submit" />
    </div>
</div>

