
@{
    ViewBag.Title = "Person ID";
}

<h1 style="font-weight:bold">Profile</h1> <!-- The title of the webpage-->

<div style="background-color: lightblue"> <!--Added a div to seperate the different fields-->
    <div>      <!-- Another div added to group together the title of the field with the input text-->
        <h2 style="color: green">First Name</h2>
        <input type="text" />
    </div>
    <div>
        <h2 style="color: red">Last Name</h2>
        <input type="text" />
    </div>

    <div>
        <h2 style="color: orange">Age</h2>
        <input type="text" />
    </div>

    <div>
        <h2 style="color: violet">Occupation</h2>
        <input type="text" />
    </div>

    <div>
        <input type="button" value="Submit" /> <!-- When pressed the button will gather the information and compile it-->
    </div>
</div>

